* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


body {
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.embed-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.embed-heading {
    color: #00A8E8;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.embed-description {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.embed-input {
    padding: 0.8rem;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    margin-bottom: 1.2rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
    width: 100%;
}

.watch-button,
.download-button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.Playlist-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #069446;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.download-button:hover {
    background-color: #0056b3;
}

.embed-video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding-bottom: 56.25%;
    margin-top: 2rem;
}

.embed-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 500px;
}

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #dfaeae;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #edecf5;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
    color: #005a7a;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    background: #382a2a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
    .embed-heading {
        font-size: 1.5rem;
    }

    .embed-input {
        width: 90%;
        font-size: 1rem;
    }

    .download-button {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }

    .embed-video-container {
        width: 100%;
        max-width: 100%;
        padding-bottom: 56.25%;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .embed-container {
        padding: 1rem;
    }

    .embed-video-container iframe {
        width: 100%;
        height: 100%;
    }
}